:root {
  --dark: rgb(82, 9, 141);
  --light: rgb(208, 179, 231);
  --border: rgb(66, 107, 66);
}
body {
  display: flex;
  line-height: 1.3;
  flex-direction: column;
  margin: 0;
  background-color: var(--light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
  background-color: var(--dark);
  color: white;
}

header h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  padding: 15px;
  border-top: double 10px var(--border);
  border-bottom: double 10px var(--border);
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  flex-direction: row;
  font-size: 16px;
  padding: 2%;
  margin: 2%;
  border-top: double 10px var(--border);
  border-bottom: double 10px var(--border);
  border-radius: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
}

main section {
  margin: 15px;
  padding: 2%;
}

img {
  display: flex;
  /* margin: 35%; */
  height: 500px;
  width: 500px;
}

main h1 {
  padding: 2%;
  font-size: 40px;
}

main p {
  border-top: double 10px var(--border);
  border-bottom: double 10px var(--border);
  border-radius: 15px;
  /* max-width: 30%; */
  padding: 2%;
  font-size: 24px;
}

main h1 p {
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  padding: 25px;
}

.project a {
  border: solid 5px var(--border);
  background-image: url("./Img/Project1.png");
  background-color: var(--dark);
  color: white;
  height: 400px;
  padding: 20px;
  text-align: center;
  flex: 1 1 200px;
  font-size: 30px;
  text-decoration: none;
}

.article {
  border: solid 5px var(--border);
  background-color: var(--dark);
  color: white;
  height: 200px;
  padding: 20px;
  text-align: center;
  flex: 1 1 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: var(--dark);
  color: white;
}

footer h1 {
  font-size: 24px;
}

@media screen and (max-width: 1606px) {
  main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
